@mixin group-container-theme($theme) {

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .group-container {

    .group {
      border: 1px solid map-get($foreground, divider);
      display: flex;
      flex: 1 0 auto;
      flex-direction: column;
      position: relative;
      border-radius: 4px;
      padding: 10px 5px 2px 5px;
      margin-left: 10px;

      .group-title {
        background: map-get($background, card);
        color: map-get($foreground, secondary-text);
        position: absolute;
        top: -8px;
        left: 8px;
        margin: 0;
        padding: 0 8px;
        font-size: 13px;
        //font-weight: 600;
      }
    }
  }
}