<ng-container style="width: 100%;">
  <mat-card style="width: 25%;margin: auto; margin-top: 10%;">

    <form [formGroup]="formGroup">
      <mat-form-field class="input-class">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" formControlName="username">
      </mat-form-field>

      <mat-form-field class="input-class">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!formGroup.valid" (click)="submit()">Register</button>
      <span class="register-link">Already have an account? Login <a [routerLink]="'/login'">here</a></span>
    </form>

  </mat-card>
</ng-container>