li {
  float: left;
  list-style: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}
table {
  width: 100%;
}

.title{
  margin-left: 0px;
  font-size: 25px;
  font-weight: 800;
  color: #F6AF05;
  font-family: -apple-system;
}

.link:hover{
  text-decoration: underline;
}

