<!--<h3>Navigate to your Company</h3>-->
<!--<mat-divider></mat-divider>-->
<!--<mat-nav-list>-->
<!--  <mat-list-item *ngFor="let link of links">-->
<!--    <a >-->
<!--      <span class="link-caption">{{ link.caption }}</span>-->
<!--    </a>-->
<!--&lt;!&ndash;     <h4 matline> {{ link.info }} </h4> &ndash;&gt;-->
<!--    <button mat-icon-button><mat-icon (click)="goToCompanyDetails(link.id)"> launch</mat-icon> </button>-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon (click)="removeCompany(link)"> delete</mat-icon>-->
<!--    </button>-->
<!--  </mat-list-item>-->
<!--</mat-nav-list>-->
<!--<mat-divider></mat-divider>-->
